.menuu {
  width: 100%;
  height: 87px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.logoMenu{
  display: flex;
  justify-items: flex-start;
  align-items: center;
  height: 100%;
  margin-left: 7em;
  width: 55%;

}


.buttonsMenu{

  display: flex;
  width: 45%;
  height: 100%;
  margin-right: 4em; 
  
  justify-content: flex-end;
  align-items: center;
  
}




.spanish {

  color: #00abe7;
  

  
}




.mibutton {

  display: flex;
  justify-content: space-around;
  color:white;
  margin-right:3em;
  margin-left: 3em;
  padding: 0.7em;
  
  font-family: Avenir;
  font-size: 100%;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #000000;
  border:  2px solid;
  border-radius: 7px;
  border-color: #00abe7;
  
}

.arrowMenu{
     
  display: flex;
  width: 30px;
  margin-left: 2.5em;
  margin-right: 1em;
  margin-top: 0.3em;
  
  height: 100%;
}

.ui.dropdown>.text {
  color: #00abe7;
  font-family: Avenir;
  font-weight: 900;

  

}

.ui.dropdown {
display: flex;
align-items: center;
}

.angle.down.icon{

 color:white;
 margin-bottom: 0.2em;

}
.ui.menu .ui.dropdown.item .menu .item{
  color: #00abe7;
  
}

.burgerMenu > img{
  width: 80%;
}

.sideMenu{
  color: white;
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px){
 
  .buttonsMenu{
    margin-right: 2em;
  }
  .mibutton{
    font-size: 70%;
  }

  .burgerMenu > img{
    width: 60%;
  }
  .arrowMenu{
    width: 20px;
  }
  .ui.dropdown>.text {
    font-size: 70%;
        
        }
  .logoMenu{
    margin-left: 5em;
  }
  .logoMenu >a >img{
          width: 80%;
        }
  }



  @media (min-width: 1800px){

    .menuu{
      height: 150px;
    }
     .logoMenu{
       margin-left: 10em;
     }
     .logoMenu >a >img{
       width: 150%;
     }

     .mibutton{
       font-size: 140%;
     }

     .ui.dropdown>.text {
        font-size: 140%;
  
    }
.burgerMenu{
  margin-right: 3em;
}
    .burgerMenu > img{
      width: 110%;
  
    }
    }
  