.gridTec{
    
    display: flex;
    background-image: url('../assets/images/ContentWeb/group-6.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 590px;
    padding-right: 12em;
    padding-left: 12em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  .textTec{
    font-family: Avenir;
    font-size: 3.15vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .gridWeb1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;

  }

  .subtitleWeb1{
    font-family: Avenir;
    font-size: 4.2vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: normal;
    color: #000000;

  }
  .textWeb1{
    font-size: 2.1vw;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    padding-right: 20vw;
    padding-top: 1em;
    padding-left: 20vw;

  }

  .gridWeb2{
      display: flex;
      flex-direction: row;
      height: 422px;
  }

  .columnWebBlue{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #00adea;
      height: 100%;
      width: 34%;
  }

  .columnWebWhite{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 66%;
}

.rowWeb2{
    display: flex;
    justify-content: center;
    height: 100%;
    align-content: center;
    border-top: solid 1px #cdcdcd;  

    padding-left: 3em;
    padding-right: 10em;
    align-items: center;

    font-family: Avenir;
    font-size: 1.4vw;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #000000;
  
}

  .titleWeb2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Avenir;
    font-size: 2.4vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;

    padding-left: 2em;
    padding-right: 1em;
  }

  .fistBlacWeb{

    color:black;
    margin-right: 0.5em;
  }
  .greyBorder{
      display: flex;
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      border: solid 1px #cdcdcd;
      padding-right: 2em;
  }

  .gridPort2Web{
  margin: 9em;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: Avenir;
  font-size: 2vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

@media (max-width: 1300px){
 
 
}
  
@media (min-width: 2500px){

  .gridWeb1{

    height: 650px;

  }
  .gridWeb2{
    height: 600px;
  }

  .gridTec{
    height: 800px;
  }
       
}

@media (max-width: 900px){
    .gridWeb1{
      height: 150px;
      justify-content: flex-start;
    }
    .subtitleWeb1{
      font-size: 6vw;
      margin-top: 6vw;

    }
    
}