.gridTec{
    
    display: flex;
    background-image: url('../assets/images/ContentWeb/group-6.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 590px;
    padding-right: 12em;
    padding-left: 12em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  .textTec{
    font-family: Avenir;
    font-size: 3.15vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .gridWeb1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;

  }

  .subtitleWeb1{
    font-family: Avenir;
    font-size: 4.2vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: normal;
    color: #000000;

  }
  .textWeb1{
    font-size: 2.1vw;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    padding-right: 20vw;
    padding-top: 1em;
    padding-left: 20vw;

  }

  .gridWeb2{
      display: flex;
      flex-direction: row;
      height: 422px;
  }

  .columnWebBlue{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #00adea;
      height: 100%;
      width: 34%;
  }

  .columnWebWhite{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 66%;
}

.rowWeb2{
    display: flex;
    justify-content: center;
    height: 100%;
    align-content: center;
    border-top: solid 1px #cdcdcd;  

    padding-left: 3em;
    padding-right: 10em;
    align-items: center;

    font-family: Avenir;
    font-size: 1.4vw;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #000000;
  
}
.rowWebMob{
  display: none;
}

  .titleWeb2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Avenir;
    font-size: 2.4vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;

    padding-left: 2em;
    padding-right: 1em;
  }

  .fistBlacWeb{

    color:black;
    margin-right: 0.5em;
  }
  .greyBorder{
      display: flex;
      width: 50%;
      height: 100%;
      justify-content: center;
      align-items: center;
      border: solid 1px #cdcdcd;
      padding-right: 2em;
  }

  .gridPort2Web{
  margin: 9em;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: Avenir;
  font-size: 2vw;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}


.row521Web{
  display:flex;
  height: 33%;
 
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #cdcdcd;
  border-bottom: 0px;
  border-top: 0px;
  border-right: 0px;


}
.row522Web{
  display:flex;
  height: 33%;
 
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #cdcdcd;
  border-bottom: 0px;
  border-right: 0px;


}

.row523Web{
  display:flex;
  height: 34%;
  border: 1px solid grey;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #cdcdcd;
  border-bottom: 0px;
  border-right: 0px;


}
.grid5Web{

  display: flex;
  flex-direction: row;
  height: 600px;

}


.column51Web{

  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding-left: 80px;


}

.column52Web{
  
  
  width: 70%;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  

}
.gridPort1Web{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 226px;
  background-color: #f8f8f8;
  
}
.greyBorderWeb{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.gridPort1Web >div:first-child{
  border-right: solid 1px #cdcdcd; 
  
}

.gridPort1TitleWeb {
  display: flex;
  font-family: Avenir;
  font-size: 2.6vw;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-right: 2vw;
  margin-left: 2vw;
}

@media (max-width: 1300px){
  .gridPort1Web{
    height: 205px;
}
 
}
  
@media (min-width: 2500px){

  .gridWeb1{

    height: 650px;

  }
  .gridWeb2{
    height: 600px;
  }

  .gridTec{
    height: 800px;
  }
       
}

@media (max-width: 900px){
    .gridWeb1{
      height: 250px;
      justify-content: flex-start;
    }
    .subtitleWeb1{
      font-size: 6vw;
      margin-top: 2vw;
      
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.35;
      letter-spacing: normal;
      color: #000000;
    }
    .textWeb1{
      font-family: Avenir;
      font-size: 14px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;
    }
    .gridWeb2{
      flex-direction: column;
      width: 100%;
      height: 700px;
    }
    .columnWebBlue{
      width: 100%;
      background-color: white;
    }
    .titleWeb2{
      font-family: Avenir;
      font-size: 21px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: #09afea;
    }
    .gridTec{
      height: 282px;
      padding: 0;
    }
    .textTec{
      
      font-family: Avenir;
      font-size: 23px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.26;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
    .rowWebMob{
      padding-left: 2em;
      padding-right: 1em;
      margin-bottom: 4em;
      margin-top: 1em;
      display: flex;
      font-family: Avenir;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.54;
      letter-spacing: normal;
      color: #000000;
    }
    .columnWebWhite{
      display: none;
    }
    .grid5Web{
      flex-direction: column;
      height: 300px;
    }
    .column51Web{
        padding: 0;
        align-items: center;
        width: 100%;
        height: 60%;
    }
    .column52Web{
      height: 40%;
      width: 100%;
    }
    .row522Web{
      display: none;

    }
    .row523Web{
      display: none;
    }
    .row521Web{
      height: 100%;
      width: 100%;
    }
    .gridPort1Web{
      flex-direction: column;
    }
    .greyBorderWeb{
      width: 100%;
      justify-content: flex-start;
      padding-left: 3em;
      padding-right: 3em;
    }
    .gridPort1TitleWeb{
      width: 100%;
      font-family: Avenir;
      font-size: 15px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
    .gridPort1Web >div:first-child{
      border-right: none;
      border-bottom: solid 1px #cdcdcd 
      
    }
    .textWeb1{
      padding-right: 1em;
      padding-left: 1em;
    }
    .gridPort2Web{

      margin:0;
      margin:0.5em;
      font-family: Avenir;
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }

}