
.griid1{

    display: flex;
    flex-direction: column;
   
    align-items: center;
    align-content: center;
    background-image: url('../assets/images/Content1/content1.png');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    height: 850px;
    
    
}

.title11{
    display:flex;
    color: #ffffff;
    font-family: Avenir;
    width: 60%;
    font-size: 280%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 2em;
  
   ;

}

.subtitle1{
    display: flex;
    width: 60%;
    margin-top: 0.5em;
    font-family: Avenir-Roman;
    font-size: 200%;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    
}

.cards{

    
    display: flex;
    justify-content: center;
    height: 50%;
    margin-top: 3em;
    margin-right: 10em;
    margin-left: 10em;
    

}

@media (max-width: 1300px){

    .griid1{
        background-image: url('../assets/images/Content1/content11024.png');
        height: 615px;
    }
     .title11{
         font-size: 180%;
     }
     .subtitle1{
         font-size: 130%;
     }
    }
  
    @media (min-width: 2500px){

        .griid1{
            height: 1400px;
        }
        .title11{
            font-size: 480%
        }
       
        .subtitle1{
            font-size: 300%;
        }

        .cards{
            height: 50%;
            margin-top: 4em;
            margin-right: 16em;
            margin-left: 16em;
        }
      }