
.contentA{

    display: flex;
    align-items: top;
    justify-content: center;
    padding: 0;
    margin:0;
    height: 750px;
    width: 100%;
    
    background-size: cover;
    
    border:0;
}

.ui.header.header3{
    padding-top: 15%;

    
}

.ui.header.header4{
    padding-top: 30px;
    margin:0;
    font-family: 'Avenir-Roman';

    
}