.grid2{

    display: flex;
    flex-flow: column wrap;
    height: 830px;
    padding:10px;
    margin:0;
    padding: 0;
    border: 0;
    

}

.column21{

    display: flex;
    flex-direction: column;

    width: 30%;
    
    }

.column22{

    display: flex;    
    width: 70%;
    height: 100%;
    
    background-color: #00adea;
    color:white;
   
        
        }


.roww{

    display: flex;
    flex-direction: row;

}      


.columntitle{

    font-size: 320%;
    margin: 40px;
    margin-top: 50px;
}        


.ui.tiny.icon{

    
    margin: 5px;
    margin-left: 30px;
    

}

.itemrowtitle{

    background-color: #00adea;
    font-weight: 900;
    vertical-align: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 250%;
    padding-top: 15px;
    margin: 15px;
   

   
}

.itemrow{
    background-color: #00adea;
    color: white;
    font-size: 145%;
    margin: 40px;
    margin-top: 20px;
    font-weight: 500;
    padding-right: 120px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    width: 85%;
  
}
.arrow{

text-align: right;
margin-right: 25px;
margin-top: 50px;
widows: 5%;
align-content: flex-end;

}




.number{

margin: 30px;
margin-left: 60px;
font-size: 400%;
font-weight: 900;
font-style: normal;
font-stretch: normal;
line-height: 0.51;
letter-spacing: normal;
color: #7dcfec;
}

.title1{

    margin:40px;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 150%;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
    padding-right: 50px;
    
}

.text1{

    font-size: 150%;
    padding-right: 40%;
    margin:10px;
    margin-left: 60px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
}

.textblack{
    color: black;
    font-family: Avenir;
}

.textwhite{
    color:white;
    font-family: Avenir;
    padding: 0;

}

