.grid2{

    display: flex;
    flex-flow: column wrap;
    height: 750px;


}

.column21{

    display: flex;
    flex-direction: column;

    width: 30%;
    
    }

.column22{

    display: flex;    
    width: 70%;
    height: 100%;
    
    background-color: #00adea;
    color:white;
   
        
        }

.bigrow{
    border-bottom: 0.05px whitesmoke solid;

}
.roww{

    display: flex;
    flex-direction: row;
    

}      


.columntitle{

    font-size: 280%;
    font-family: Avenir;
   
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: normal;
    color: #ffffff;
    margin: 40px;
    margin-bottom: 20px;
    
}        


.ui.tiny.icon{

    
    margin: 5px;
    margin-left: 30px;
    

}

.itemrowtitle{

    background-color: #00adea;
    font-weight: 900;
    vertical-align: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 150%;
    padding-top: 15px;
    margin: 15px;
    margin-top: 30px;
   

   
}

.itemrow{
    background-color: #00adea;
    color: white;
    font-size: 100%;
    margin: 40px;
    margin-top: 5px;
    font-weight: 500;
    padding-right: 120px;
    width: 85%;
    font-family: Avenir;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
  
}
.arrow{

text-align: right;
margin-right: 70px;
margin-top: 50px;
padding: 5px;


align-content: flex-end;

}




.number{

margin: 30px;
margin-left: 60px;
font-size: 400%;
font-weight: 900;
font-style: normal;
font-stretch: normal;
line-height: 0.51;
letter-spacing: normal;
color: #7dcfec;
}

.title1{

    margin:40px;
    margin-top: 70px;
    margin-left: 60px;
    font-size: 130%;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
    padding-right: 50px;
    
}

.text1{

    font-size: 130%;
    padding-right: 25%;
    margin:10px;
    margin-left: 60px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
    
    
}

.textblack{
    color: black;
    font-family: Avenir;
}

.textwhite{
    color:white;
    font-family: Avenir;
    padding: 0;

}


