.grid2{

    display: flex;
    flex-flow: column wrap;
    height: 1149px;


}

.column21{

    display: flex;
    flex-direction: column;

    width: 30%;
    
    }

.column22{

    display: flex;  
    flex-direction: column;  
    width: 70%;
    height: 100%;
    
    background-color: #00adea;
    color:white;
   
        
        }

.bigrow{
    border-bottom: 0.02px whitesmoke solid;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 7%;

}
.bigrow2{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 7%;

}
.roww{

    display: flex;
    flex-direction: row;
    padding-top:1%;
    width: 100%;
    
    

}      


.columntitle{
    display: flex;
    width: 100%;
    font-size: 350%;
    font-family: Avenir;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.9;
    letter-spacing: normal;
    color: #ffffff;
    margin: 40px;
    margin-top: 80px;
    margin-bottom: 0.7em;
    
}        


.icon2{

    
    margin: 5px;
    margin-left: 30px;
    width: 10%;
    height: auto;
    

}

.itemrowtitle{
    display: flex;
    background-color: #00adea;
    font-weight: 900;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    font-size: 295%;
    padding-top: 15px;
    margin: 30px;
    margin-top: 30px;
   

   
}

.itemrow{

    font-size: 170%;
    
    background-color: #00adea;
    color: white;
    
    margin: 40px;
    margin-top: -5px;
    margin-bottom: 50px;
    font-weight: 500;
    width: 100%;
    font-family: Avenir;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
  
}
.arrow{

text-align: right;
margin-right: 70px;
margin-top: 50px;
padding: 5px;


align-content: flex-end;

}




.number{

margin: 30px;
margin-left: 20%;
font-size: 400%;
font-weight: 900;
font-style: normal;
font-stretch: normal;
line-height: 0.51;
letter-spacing: normal;
color: #7dcfec;
}

.title1{

    margin:40px;
    margin-top: 130px;
    margin-left: 20%;
    font-size: 160%;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
    padding-right: 50px;
    
}

.text1{

    font-size: 230%;
    
    margin:10px;
    margin-left: 20%;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
    
    
}

.textblack{
    color: black;
    font-family: Avenir;
}

.textwhite{
    color:white;
    font-family: Avenir;
    padding: 0;

}

@media (max-width: 1300px){

    .grid2{
        height: 1000px;
    }

.title1{
    font-size: 130%;

}
.text1{
    font-size: 180%;
}

.itemrow{
    font-size: 120%;
    margin-top: 0px;
}



.columntitle{
    font-size: 300%;
}
.itemrowtitle{
    padding-bottom: 10px;
    font-size: 220%
}


}

@media (min-width: 2000px){

    .grid2{
        height: 1850px;
    }

    .title1{
        font-size: 320%;
    
    }
    
    .itemrow{
        font-size: 300%;
        margin-top: 0px;
    }
     .itemrowtitle{
         font-size: 390%;
         padding-bottom: 30px;
     }
    
    
    .columntitle{
        font-size: 550%;
    }
     .number{
         font-size: 700%;
         padding-top: 0.5em;
     }
    
     .text1{
         font-size: 310%;
     }

     .icon2 > img{
         width: 120%;
         height: auto;
     }

    }
