

.column51{

height: 600px;
    
    
}

.title411{
    font-size: 300%;
    font-family: Avenir;
    color: white;
   
}

.subtitle411{
    font-size: 150%;
    font-family: Avenir;
    color: white;
    

}