.grid9 {
  
    display: flex;
    background-image: url('../assets/images/Content9/fondo9.png');
    background-size: cover;
   
    height: 300px;
    justify-content: center;
    align-items: center;
}

.title9{
    font-family: Avenir;
    font-size: 2.94vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #ffffff;
    margin: 30px;

}

.subtitle9{
    display: flex;
    align-items: center;
    font-family: Avenir;
    font-size: 1.26vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00adea;
    margin: 1em;
}



i.linkedin.icon{
    color: #00adea;
}
i.f.facebook.icon{
    color: #00adea;
}


i.instagram.icon{
    color: #00adea;
}

@media (min-width: 2500px){

      
    .grid9{
        height: 450px;

    }

    .title9{
        font-size: 550%
    }
.subtitle9{
    font-size: 250%;
    padding: 1em;
  
}


       }

    @media (max-width: 900px){
    .grid9{
        flex-direction: column;
        height: 360px;
      
        }
    .title9{
        font-size: 5vw;
    }
    .subtitle9{
        font-size: 3vw;
        width: 40%;
        
    }
    .ui.circular.button{
        margin-right: 2em;
        size: 'tiny';
    
    }
       }

       @media (max-width: 400px){
        .grid9{
            flex-direction: column;
            height: 360px;
          
            }
        .title9{
            font-size: 18px;
        }
        .subtitle9{
            font-size: 14px;
            
        }
        .ui.circular.button{
            margin-right: 2em;
            size: 'tiny';
        
        }
           }