.gridGif{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;

  font-family: Avenir;
  font-size: 45px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  padding-right: 2em;
  padding-left: 2em;
}


.gridActual{
    
  display: flex;
  background-image: url('../assets/images/Conocenos/conocenosBack2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px;
  padding-right: 16em;
  padding-left: 16em;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.gridCultUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 400px;
}

.gridCultTitle{
  font-family: Avenir;
  font-size: 60px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  letter-spacing: normal;
  color: #00adea;

}