.grid5{

    display: flex;
    flex-flow: column wrap;
    height: 850px;
    padding:10px;
    margin:0;
    padding: 0;
    border: 0;
    

}

.grid5 > * {

    flex: 1 100%;
    
}

.columnC{

    width: 20%;
    justify-content: center;
    align-content: center;
    margin: 30px;

}

.columnL{
    
    
    width: 80%;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-width: 10px;
}

.columnL > *{
    flex: 1 100%;
}

.clientColumn{
    flex-direction: row;
    justify-content: space-between;
  
    justify-content: center;


}

.clientLogo{
    align-self: auto;
    margin: 20%;
    justify-content: center;

}

.ui.image.logoIm{

    justify-content: center;
    align-self: auto;
    margin:10%;
}

.title5 {

    align-self: auto;
    margin: 20%;
    margin-top: 40%;
    margin-bottom: 5%;
    font-size: 350%;
    font-family: Avenir;
    font-weight: 900;
    line-height: 0.6;

}

.subtitle5{
    align-self: auto;
    margin: 5%;
    margin-left: 20%;
    font-size: 150%;
    font-family: Avenir;
    font-weight: 500;
    line-height: 0.6;

}