.cardTotal{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}

.cardBack0{

    background-color: white;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    border: 0.5px solid gray;
   
    margin-top: 20px;
    width: 27%;
    height: 100%;
}

.cardBack1{

    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -15px;
    z-index: 10;
    border: 0.5px solid gray;
    
    width: 31%;
    height: 100%;
}

.cardBack2{

    background-color: white;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: -15px;
    border: 0.5px solid gray;
    width: 27%;
    height: 100%;
}


.cardImage{
    width: 100%;
    height: 50%;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    

}

.cardLogo{
    width: 100%;
    height: 25%;
    
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardDesc{
    width: 100%;
    height: 25%;
    
    
    display: flex;
    justify-content: center;
    padding:12px;
    
    font-family: Avenir;
    font-size: 90%;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #454242;
}

.buttonpre{
    display: flex;
    width: 12.5%;
    margin-bottom: 70px;
    align-self: flex-end;
    
}

.buttonnext{
    display: flex;
    width: 12.5%;
    align-self: flex-end;
    margin-bottom: 70px;
    

}

button{
    display: flex;
    align-self: flex-end;
}

img.clientImage{
   
    border-radius: 75%;
    background-color: rgba(145, 144, 144, 0.24);
    height: 90px;
    width: 120px;
}

img.clientLogo{
    border:0px;
    height: 30px;
    width: 90px;
}

.ui.inverted.button.buttonCard{

    border-radius: 75%;
    height: 40px;
    width: 40px;
    padding-left: -45px;
}

