.cardTotal{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;

}

.cardBack0{

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    
    width: 25%;
    height: 100%;
}

.cardBack1{

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
    width: 35%;
    height: 100%;
}

.cardBack2{

    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border: 1px solid red;
    width: 25%;
    height: 100%;
}


.cardImage{
    width: 100%;
    height: 50%;
    border: 1px solid red;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    

}

.cardLogo{
    width: 100%;
    height: 25%;
    border: 1px solid red;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardDesc{
    width: 100%;
    height: 25%;
    border: 1px solid red;
    
    display: flex;
    justify-content: center;
    
    font-family: Avenir;
    font-size: 90%;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: #454242;
}

.buttonpre{
    display: flex;
    width: 12.5%;
    align-self: center;
}

.buttonnext{
    display: flex;
    width: 12.5%;
    align-self: center;
    justify-content: flex-end;

}

button{
    display: flex;
    align-self: flex-end;
}

img.clientImage{

    height: 90px;
    width: 120px;
}

img.clientLogo{

    height: 30px;
    width: 90px;
}