.ui.menu.menuu {
  height: 87px;
  background-color: #000000;
  display: flex;
  flex-flow: row wrap;
}

.logo {
  padding-left: 20px;
  width: 201px;
  height: 50px;
  object-fit: contain;
}

.spanish {

  color: #00abe7;
  display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
  
}

.quotee {
  padding-left: 762px;
  width: 193px;
  height: 22px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.menu-image {
  padding-left: 1000px;
  width: 56px;
  height: 28px;
  object-fit: contain;
}

.dropdown {
  color: #00abe7;
  align-items: center;
  
}

.ui.button.mibutton {

  color:white;
  font-family: Avenir;
  justify-content: right;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #000000;
  border: solid;
  border-radius: 7px;
  border-color: #00abe7;
}

.ui.dropdown>.text {
  color: #00abe7;

}

.ui.menu .ui.dropdown.item .menu .item{
  color: #00abe7;
}
