.mb{
  margin-bottom: 4rem;
}

.navbar-tricao {
  justify-content: space-between;
}

.ui.segment.navbar-tricao {
  border-radius: 0px;
  margin:0;
  z-index: 99;
}

.ui.navbar-tricao.menu:after {
  content: none;
}

.logo {
  width: 181px !important;
  height: 37px;
  object-fit: contain;
}

.name-navbar {
  font-size: 16px;
  font-weight: 500;
}

.img-person {
  width: 49px;
  height: 49px;
  object-fit: contain;
  margin-left: 22px;
}

.ui.pointing.dropdown>.menu:after {
  left: 67% !important;
}
.navbar-name{
  display: flex;
  align-items: center;
}

.round-border{
  border-radius: 4px !important;
}

.ui.pointing.dropdown>.menu:after{
  top: -.7em !important;
  width: 1.5em !important;
  height: 1.5em !important;
}

.round-navbar{
  /* border-bottom-left-radius: 24px !important; */
  border-bottom-right-radius: 24px !important;
}

.ui.menu .item a{
  font-family: 'Barlow Condensed', sans-serif; 
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}

.ui.navbar-tricao.menu > .d-flex > .item{
  padding-left: 31px;
  padding-right: 31px;
}

div.ui.vertical.navbar-tricao.menu > div > div.item.active {
  border-left: 5px solid #fb7511;
}

div.ui.vertical.navbar-tricao.menu > div > div.item:hover {
  border-left: 5px solid #fb7511;
}

div.ui.vertical.navbar-tricao.menu{
  border-radius: 0%;
  margin: 0%;
  display: flex;
  width: 16rem;
}

.ui.secondary.pointing.menu.menu-tricao{
  border-bottom: 0px solid rgba(34,36,38,.15);
}

.ui.secondary.inverted.pointing.menu.menu-tricao{
  border-width: 0;
}

.ui.secondary.pointing.menu.menu-tricao .item {
  border-bottom-width: 0px;
  align-self: center;
}

.ui.menu{
  font-family: 'Barlow Condensed', sans-serif; 
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #1d1d1d;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.icon-burger {
  position: absolute;
  right: 0;
}

.sidebar.icon.icon-burger {
    display: none;
}

@media only screen and (max-width: 767px) {
  .remove-element {
      display: none !important;
  }

  .ui.left.sidebar, .ui.right.sidebar {
      width: 100%;
  }
  
  .icon-burger {
      position: absolute;
      right: 0;
  }

  .sidebar.icon.icon-burger {
      display: block;
  }
}