.gridHead{

    display: flex;
    height: 418px;
    width: 100%;
    /* background-image: url('../assets/images/Portfolio/portfolio.jpg'); */
    background-size: cover;
    background-position:left center; 
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    
}

.fontHead{
    font-family: Avenir;
    font-size: 6vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    width: 50%;
    letter-spacing: normal;
    text-align: center;
    color: #fbfbfb;

}
.gridHeadMovil{
    display: none;
}
@media (max-width: 1300px){

    .gridHead{

        height: 330px;
        
    }
 
}
  
@media (min-width: 1800px){

    .gridHead{

        height: 570px;
        
    }

}

@media (max-width: 900px){
    .gridHead{
        display: none;


    }
    .gridHeadMovil{
        display: flex;
        height: 120px;
        justify-content: center;
        align-items: center;      
        background-size: cover;

        
        background-repeat: no-repeat;
    }
    .fontHead{
        width: 70%;
        font-size: 9vw;
    }
}