
.grid4{

height: 700px;
display:flex;
flex-direction: row;
background-image: url('../assets/images/Content4/fondo4.png');
background-size: cover;

background-repeat: no-repeat;

    
    
}

.column41{
    display: flex;
    flex-direction: column;
    width: 35%;
    
    justify-content: center;

}

.column42{

    display: flex;
    width: 35%;
    
    justify-content: center;
    align-items: center;
   
}





.column43{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding-left:20px; 

}

.title411{
    display: flex;
    font-size: 350%;
    font-family: Avenir;
    margin: 20px;
    margin-left: 15%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
   
}

.subtitle411{

    display: flex;
    margin: 20px;
    margin-left: 15%;
    
    font-size: 175%;
    font-family: Avenir;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    

}

.text4{
    display: flex;
    margin: 30px;

}

.number43{
    margin-top: 20px;
    font-family: Avenir;
    font-size: 300%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.82;
    letter-spacing: normal;
    color: #7dcfec;
}

.texttitle{
    margin:20px;
    font-family: Avenir;
    font-size: 150%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

}
.textdesc{
    margin:20px;
    margin-right: 100px;
    font-family: Avenir;
    font-size: 100%;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

}

.mapper4 >div>map>area{

    border: 0px;

}   

@media (max-width: 1300px){

    .grid4{
        background-image: url('../assets/images/Content4/fondo41024.png');
        height: 545px;
    }


.title411{
    
    font-size: 250%;
}
    .subtitle411{
        
        font-size: 120%;
    }
    .number43{
        font-size: 200%;
    }
    .texttitle{
        font-size: 150%;
    }
    .textdesc{
        font-size: 100%;
       margin-right: 0px;
    }
    .mapper4 >div>canvas{

        width: 300px;

    }   
    
  .mapper4 >div>img{

                           
    width: 300px;
      }   
 
    }


    @media (min-width: 2500px){

      
        .grid4{
            height: 1000px;
        }

        .title411{
            font-size: 600%;
            margin-bottom: 0.5em;
        }

        .subtitle411{
            font-size: 300%;
        }
        .number43{
            font-size: 500%;
        }
        .texttitle{
            font-size: 350%;
        }
        .textdesc{
            font-size: 200%;
            margin-right: 8em;
        }
        
    .mapper4 >div>canvas{

        width: 700px;

    }   

  .mapper4 >div>img{

                           
    width: 700px;
      }   

           }


     @media (max-width: 900px){
        .grid4{
            background-image: url('../assets/images/Content4/fondoMovil.png');
            flex-direction: column;
            height: 641px;
        }
        .subtitle411{
            display: none;
        }
        .column41{
            width: 100%;
        }
        .title411{
            width: 100%;
            margin:0;
            margin-top: 5vw;
            justify-content: center;
            align-items: center;
        }
        .column42{
            order: 0;
            width: 100%;
            height: 50%;
        }
        .text4{
            width: 100%
        }
        .column43{
            width: 100%;
            height: 45%;
            opacity: 0.71;
            background-color: #31a8f5;
            
        }
        .mapper4 >div>canvas{

            width: 200px;
    
        }   
        
      .mapper4 >div>img{
    
                               
        width: 200px;
          }   
     
        
               }