.grid6 {
  
    display: flex;
    
    height: 600px;

}

.column61{
    display: flex;
    background-color: #f8f8f8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 30%;
    

}

.column62{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    
}

.row621{
    padding: 20px;
    margin:30px;
    display: flex;
   
    justify-content: space-evenly;
    
}


.row622{
    margin:30px;
    display: flex;
    justify-content: space-evenly;
    
}

.ui.basic.button.button6{
    border-style: dashed;
    margin: 20px;
    margin-left: 60px;
    border: 1px solid #00adea;
  font-family: Avenir;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.blacktitle{

    font-family: Avenir;
    margin: 20px;
    margin-left: 35px;
    font-size: 350%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #000000;
}

.bluetitle{
margin: 15px;
margin-left: 35px;
font-size: 250%;
font-weight: 900;
font-style: normal;
font-stretch: normal;
line-height: 1.38;
letter-spacing: normal;
color: #00adea;
}
.firstblack {
color: #000000;
}


.ui.ui.basic.button.button{
display: flex;
justify-content: center;
flex-direction: row;
align-content: center;
align-items: center;
font-weight: 900;
}
.arrow.right.icon.arrow6{
    
    
    color: #2fa6f3;
    
    padding-left: 25px;
    padding-right: 10px;

}