.gridHerra{
    
    display: flex;
    background-image: url('../assets/images/ContentTi/contentTiBack2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 590px;
    padding-right: 16em;
    padding-left: 16em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  .textTi1 {
    font-size: 2.1vw;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    padding-right: 12vw;
    padding-top: 1em;
    padding-left: 12vw;
}

.gridTi1{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 400px;
}

.titleTi1{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    padding-left: 3vw;

    font-family: Avenir;
    font-size: 2.1vw;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
  
}

.gridTextTi{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}
.rowTi1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.textTi2{
    display: flex;
    border: solid 1px #cdcdcd;
    height:100%;
    width: 33.33333%;

   
    align-items: flex-start;
    padding:2em;
    padding-top: 3em;

    font-family: Avenir;
    font-size: 1.4vw;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: #000000;
}

.firstBlueTi{

    color:#11b7d3;
    margin-right: 1em;
}

.title31Ti {
    display: flex;
    font-family: Avenir;
    font-size: 200%;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
@media (max-width: 1300px){
 
 
}
  
@media (min-width: 1800px){

    .gridHerra{
        height: 800px;
      }

      .gridTi1{
          height: 550px;
      }
          

       
}

@media (max-width: 900px){
.textTi1{      
    font-family: Avenir;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
}
.gridHerra{
    height: 282px;
    padding:0;

  
}
.title31Ti{
    font-family: Avenir;
    font-size: 23px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.gridTi1{
    flex-direction: column;
}
.titleTi1{
    width: 100%;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    padding:0;
    padding:1.5em;
    height: 30%;
}
.gridTextTi{
    width: 100%;
    flex-direction: row;
}
.textTi2{
    
    padding:0;
    width: 100%;
    padding-left: 1em;
    justify-content: center;
    align-items: center;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #000000;
}
.rowTi1{
    flex-direction: column;
}
.firstBlueTi{
    margin-right: 0.5em;
}
.textTi1{
    padding-left: 1em;
    padding-right: 1em;
}
}