.grid8 {
  
    display: flex;
    
    height: 600px;

}

.column81{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;

    margin-top: 0;
    width: 30%;
    

}

.row811{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.title81{

    font-family: Avenir;
    margin: 20px;
    font-size: 350%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #00adea;

}

.subtitle81{

    font-family: Avenir;
    margin:10px;
    margin-left: 20px;
    font-size: 200%;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000000;
}

.column82{

    display: flex;
    
    flex-direction: column;
    padding: 30px;
    padding-top: 40px;
    background-color: #00adea;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    
}

.title82{
    display: flex;
    font-family: Avenir;
    font-size: 310%;
    margin-bottom: 20px;
    margin-top: 45px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: center;
}

.subtitle82{
    
    display: flex;
    font-family: Avenir;
    margin: 20px;
    margin-bottom: 30px;
    padding-left: 80px;
    padding-right: 90px;
    font-size: 150%;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.firstblue{
    color: #11b7d3;
    margin-right: 20px;
}


.form6{
   
    display: flex;
    width: 70%;
    height: 80%;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: flex-start;

}

.form6row{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: left;

}

.form6column{
    display: flex;
    width: 50%;
    
    
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid white;

}
.form6column1{
    display: flex;
    width: 50%;
    
    margin-right: 4em;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid white;

}

.form6row2{
    margin-top: 20px;
    margin-right: 10px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.form6button{
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: flex-end;
    
}

.ui.active.button{
    border-radius: 7px;
    background-color: #f8f8f8;
}

.ui.ui.active.button.formButton{
    width: 25% ;
}

@media (max-width: 1300px){

    .title81{
        font-size: 300%;
    }
    .subtitle81{
        font-size: 170%;
    }

    .title82{
        font-size: 290%;
    }
       }

       @media (min-width: 2500px){

      
        .grid8{
            height: 1000px;
        }

        .column82{
            padding-top:8em;
        }
        .title81{
            font-size: 550%;
        }
        .title82{
            font-size: 460%;
        }
        .subtitle82{
            font-size: 200%;
        }
        .subtitle81{
            font-size: 280%;
        }
           }
           @media (max-width: 900px){
            .grid8{
                flex-direction: column;
                height: 1030px;
            }
            .row811{
                margin-bottom: 2em;
                margin-top: 1em;
            }
            .column81{
                width: 100%;

            }
            .column82{
                width: 100%;

                padding:0;
                padding-top: 40px
            }
            .title81{
                font-size: 9vw;
            }
            .subtitle81{
                font-size: 8vw;
            }
            .title82{
                font-size: 9vw;
                margin-top: 0;
                color:white;
            }
            .subtitle82{
                font-size: 4vw;
                padding: 0;
                margin-top:0;
            }
            .form6{
                flex-direction: column;
                margin-bottom: 15px;

            }
            .form6column {
                flex-direction: column;
                width: 100%;
                margin-top: 20px;
               
            
                
            }
            .form6column1 {
                flex-direction: column;
                width: 100%;
                padding-bottom: 25px;
               
            }
            .form6row{
                flex-direction: column;
            }
            .ui.ui.active.button.formButton {
                width: 100%;
            }
       
           }
