.gridSideMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    opacity: 0.94;
    background-color: #000000;
    z-index: 3;
}

.sideMenuButton{
    color:white;
    margin-right: 4em;
}