.menuuu {
    display: flex;
    
    justify-content: center;
    align-content: center;
    height: 73px;
    background-color: #000000;
    display: flex;
    align-items: center;
    overflow: hidden;
    
    

  }

  .footerMenu{
    display: flex;
    width: 35%;
    justify-content: flex-end;
    margin: 3em;
    align-items: center;
    
  }

  .footerLang{
    display: flex;
    
    width: 10%;


  }
  
.footerButton {
    color: #5c5c5c;
    display: flex;
    margin: 1.5em;
    font-family: Avenir;
    justify-content: right;
    font-size: 80%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    background-color: #000000;
    

  }


  .copyy{
    display: flex;
    align-items: center;

    width: 55%;
    margin-left: 2em;
    
    
    
  }
  
  .textt{
    display: flex;
    font-family: Avenir;
    font-size: 80%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.57;
    letter-spacing: normal;
    color: #eaeaea;
    margin-left: 3em;
    
    
  }

  .angle.up.icon{
    color: white;
    margin-bottom: 0.2em;

  }

  .ui.upward.dropdown{
    display: flex;
    align-items: baseline;
    font-size: 80%;
   
  }
  .ui.dropdown.footerDrop{
    display: flex;
    align-items: baseline;
    font-size: 80%;
   
  }
  
  .iconn {
    color: #00abe7;
  
  }

  .footerBlue{
    margin-right: 0.5em;
    color: #00adea;
  }

  @media (min-width: 2500px){

      
    .menuuu{
      height: 150px;
    }
.textt{
  font-size: 150%;
}
.footerButton{
  font-size: 150%;
}

.ui.dropdown.footerDrop{
  font-size: 110%;

}


.ui.upward.dropdown{

  font-size: 110%;
}
       }

       @media (max-width: 1300px){

.footerButton{
  margin: 0.5em;
}
           }

           @media (max-width: 900px){
            .footerMenu{
              display: none;
            }
            .footerLang{
              display: none;
            }
            .copyy{
              width: 100%;
              margin-left: 0;
              justify-content: center;
            }
            .textt{
              margin-left: 2em;
              font-size: 2vw;
          
            }
           }
           @media (max-width: 400px){
            .footerMenu{
              display: none;
            }
            .footerLang{
              display: none;
            }
            .copyy{
              width: 100%;
              margin-left: 0;
            }
            .textt{
              margin-left: 2em;
              font-size: 3vw;
          
            }
           }