.grid6 {
  
    display: flex;
    
    height: 650px;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;

}

.column61{
    display: flex;
    background-color: #f8f8f8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 30%;
    

}

.column62{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;
    
}



.button6{
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    margin-right: 55px;
    padding: 5px;

    margin-left: 50px;
    border: 2px solid #00adea;
    font-family: Avenir;
    font-size: 100%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.blacktitle{

    font-family: Avenir;
    margin: 20px;
    margin-left: 35px;
    margin-bottom: 0px;
    font-size: 300%;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    color: #000000;
}

.bluetitle{
margin: 15px;
margin-left: 35px;
margin-top: 0px;
font-size: 250%;
font-weight: 900;
font-style: normal;
font-stretch: normal;
line-height: 1.38;
letter-spacing: normal;
color: #00adea;
}
.firstblack {
color: #000000;
}



.arrow6{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    width: 15%;

}

@media (min-width: 2500px){


    .grid6{
        height: 1000px ;
    }
.blacktitle{
    font-size: 500%;
}
.bluetitle{
    font-size: 400%;
}

.button6{
 
    margin: 20px;
    width: 70%;

    padding: 5px;
    margin-left: 50px;

    height: 12%;
    font-size: 150%;
}
.column62 > img{
    width: 75%;
}
    
        }

 @media (max-width: 1300px){


        .column62 > img{
            width: 90%;
        }
            
                }
                
@media (min-width: 400px){
    .grid6{
        flex-direction: column;
        height: 620px;
    }
    .column61{
        width: 100%;
        height: 40%;
    }


    .column62 > img{
        width: 80%;
    }
    .column62{
        display: flex;
        width: 100%;
        height: 60%;
        justify-content: center;
    }
    .blacktitle{
        font-size: 8vw;
        text-align: center;

    }
    .bluetitle{
        font-size: 7vw;
        text-align: center;
    }
    .button6{
        margin: 0;
        margin-right: 120px;
        margin-left: 120px;
    }
}

@media (max-width: 400px){
    .grid6{
        flex-direction: column;
        height: 420px;
    }
    .column61{
        width: 100%;
        height: 40%;
    }

    .button6{
        margin: 20px;
        margin-right: 55px;
    }
    .column62{
        display: flex;
        width: 100%;
        height: 60%;
        justify-content: center;
    }
    .blacktitle{
        font-size: 8vw;
        text-align: center;

    }
    .bluetitle{
        font-size: 7vw;
        text-align: center;
    }
}