.gridExp{
    
    display: flex;
    background-image: url('../assets/images/ContentExp/group-6.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 590px;
    padding-right: 12em;
    padding-left: 12em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }




.row521Exp{
    display:flex;
    height: 50%;
   
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #cdcdcd;
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;


}
.row522Exp{
    display:flex;
    height: 50%;
   
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #cdcdcd;
    border-bottom: 0px;
    border-right: 0px;


}


@media (max-width: 900px){
    .gridExp{
        height: 282px;
        padding:0;
        padding-right: 1em;
        padding-left: 1em;
    }
    .row522Exp{

        display: none;
    }
    .row521Exp{
        height: 100%;
    }
}