.grid7 {
  
    display: flex;
    
    height: 600px;

}

.column71{
    display: flex;
    background-image: url('../assets/images/Content7/fondo7.png');
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 30%;
    

}

.column72{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;

    
}

.title7{

    font-family: Avenir;
    font-size: 250%;
    margin: 30px;
    
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.subtitle7{


    font-family: Avenir;
    font-size: 180%;
    margin: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.firstblue2{
    color: #11b7d3;
    margin-right: 20px;
}

.button7{
    display: flex;
    margin-left: 28em;
    margin-top: 1em;

}

@media (max-width: 1300px){

 .title7{
     font-size: 200%;
 }
 .subtitle7{
     font-size: 150%;
 }
    }

    @media (min-width: 2500px){


        .grid7{
            height: 1000px ;
        }
        .title7{
            font-size: 430%;
        }
  .subtitle7{
      font-size: 300%;
  }
  .button7{
      margin-left: 45em;
      width: 4%;
  }

}

@media (max-width: 900px){

    .column71{
        display: none;
    }
    .column72{
        width: 100%;
        background-image: url('../assets/images/Content7/fondoMovil.png');
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .title7{
        font-size: 6vw;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .subtitle7{
        font-size: 5vw;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.97;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .firstblue2{
        display: none;
    
    }
    .button7{
        display: none;
    }
}