.grid2{

    display: flex;
    flex-flow: column wrap;
    height: 850px;
    padding:10px;
    margin:0;
    padding: 0;
    border: 0;
    

}

.grid2 > * {

    flex: 1 100%;
    
}

.column11{

    display: flex;
    flex-direction: column;

    width: 25%;
    
    }

.column12{

    display: flex;    
    width: 75%;
    margin: 0;
    background-color: #00adea;
    color:white;
   
        
        }
.column12 > * {

            flex: 1 100%;
            
        }   

.roww{

    display: flex;
    flex-direction: row;

}      


.columntitle{

    font-size: 320%;
    margin: 40px;
}        


.ui.tiny.icon{

    
    margin: 5px;
    margin-left: 30px;
    

}

.itemrowtitle{

    background-color: #00adea;
    font: bold;
    vertical-align: center;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 250%;
    padding-top: 15px;
    margin: 15px;
   

   
}

.itemrow{
    background-color: #00adea;
    color: white;
    font-size: 125%;
    margin: 40px;
    margin-top: 20px;
  
}
.arrow{

text-align: right;
margin-right: 15px;
margin-top: 50px;
}




.number{

margin: 40px;
margin-left: 60px;
font:bolder;
    color:#00adea;
    font-size: 400%;
}

.title1{

    margin:40px;
    margin-top: 60px;
    margin-left: 60px;
    font-size: 150%;
    font: bolder;
    
}

.text1{

    font-size: 150%;
    padding-right: 40%;
    margin:10px;
    margin-left: 60px;
    font:bolder;
}

.textblack{
    color: black;
    font-family: Avenir;
}

.textwhite{
    color:white;
    font-family: Avenir;
    padding: 0;

}

